.uniq-prod-for-col{
    min-width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.uniq-col-prod-img-div{
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 5px;
}

.uniq-col-prod-img-div img{
    border-radius: 15px 15px 0px 0px;
    border-bottom: 2px solid #183457e1;
}

.uniq-col-prod-titl-pric{
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 340px;
    padding: 0px 5px 0px 5px;
}

.uniq-col-prod-title{
    width: 70%;
    font-family: var(--font-product-card-title) ;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.uniq-col-prod-price{
    width: 30%;
    font-family: var(--font-product-card-title);
    font-size: 18px ;
    color: #3a9737;
    font-weight: bold;
    text-align: right;
}

.uniq-col-prod-varient{
    margin-bottom: 15px;
    width: 340px;
    padding: 0px 5px 0px 5px;
}

.uniq-col-prod-varient-btn{
    color: #183457;
    background-color: #1834574b;
    margin-right: 10px;
    padding: 3px 10px;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: var(--font-product-card-title);
    font-size: 14px;
}

.uniq-col-prod-varient-btn-select{
    color: white;
    background-color: #183457e1;
    margin-right: 10px;
    padding: 3px 10px;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: var(--font-product-card-title);
    font-size: 14px;
}

.uniq-col-prod-atc-btn{
    color: white;
    background-color: #183457;
    outline: none;
    border: none;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px;
    text-transform: uppercase;
    margin-top: 10px;
}

.uniq-col-prod-atc-btn-others{
    color: #183457;
    background-color: #1834574b;
    outline: none;
    border: none;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px;
    text-transform: uppercase;
    margin-top: 10px;
}