.uniq-collection-sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.uniq-coll-title {
  display: flex;
  align-self: center;
}

.uniq-coll-div {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 20px;
}

.uniq-coll-prods {
  display: flex;
  flex-direction: row;
}




::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  border: none !important;
}

::-webkit-scrollbar-thumb {
  background: #18345759;
  border-radius: 5px;
  cursor: pointer;
}
