.uniq-collection-sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.uniq-coll-title {
  display: flex;
  align-self: center;
  font-size: var(--font-size-h1);
  font-family: var(--font-fam-secondary);
  padding: 20px 0px;
  text-transform: capitalize;
}

.uniq-coll-div {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 20px;
}

.uniq-coll-prods {
  display: flex;
  flex-direction: row;
}




.uniq-coll-div::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.uniq-coll-div::-webkit-scrollbar-track {
  border: none !important;
}

.uniq-coll-div::-webkit-scrollbar-thumb {
  background: #18345777;
  border-radius: 5px;
  cursor: pointer;
}
