.uniq-bestSeller-sec{
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
}

.uniq-bs-div{
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uniq-bs-title{
    display: flex;
    border: 1px solid red;
    align-self: center;
}

.uniq-bs-prods{
    display: flex;
    flex-direction: row;
}